// bower:scss
// endbower

ul {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

//button
.buttons {
  margin-top: 10px;
}

button {
  background-color: rgb(251, 105, 100);
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  padding: 5px 10px;
  color: white;

  &.active, &:hover {
    background-color: rgb(251, 74, 69);
  }
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  height: 100%;
  animation: wrap-color 5s linear;
  animation-fill-mode: forwards;
  //animation-iteration-count: 1;
}

.widget {

  box-sizing: border-box;
  margin: 0 auto;
  transform: translateY(10%);
  max-width: 300px;
  font: normal normal 16px/1.1em Arial, Helvetica, sans-serif;
  color: #484646;
  overflow: hidden;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);

  .visual {
    height: 260px;
    overflow: hidden;
    position: relative;
    z-index: -100;

    .bg-wrap {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      top: 0;
      padding-top: 90px;
      box-sizing: border-box;
      z-index: 0;

    }

    .circle-day {
      display: block;
      margin: 50px auto 0 auto;
      width: 135px;
      height: 130px;
      border-radius: 50%;
      position: relative;

      &:before {
        content: '';
        width: 320px;
        height: 315px;
        z-index: -8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;

        /*background: #a6c3f1;
        border:45px solid #8abff1;*/
      }
    }

    #L3 {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 100;
    }
  }

  .info {
    height: 260px;
    position: relative;
    background: #fff;

    .search-holder {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: .5s;

      /* To hide by default, setting max-height
            and opacity = 0 */
      max-height: 0;
      opacity: 0;

      &.active {
        max-height: 600px;
        opacity: 1;
        transition: max-height .8s ease-in-out;
      }

      .capture {
        transform: translateY(-50%);
        width: 100%;
        top: 45%;
        text-align: center;
        position: absolute;

        label {
          font-size: 26px;
          color: #fff;
        }

        input[type="text"] {
          border: 0;
          border-radius: 5px;
          width: 135px;
          height: 35px;
          padding: 0px 35px 0 10px
        }
      }

      .remember {
        position: relative;
        font-size: 20px;
        text-align: center;
        line-height: 35px;
        background: #FB6964;
        color: #fff;
        height: 35px;

        max-height: 0;
        opacity: 0;

        &.active {
          max-height: 200px;
          opacity: 1;
          transition: max-height .8s ease;
        }
      }

      .input-holder {
        position: relative;
        width: 60%;
        margin: 10px auto;
      }

      .search-btn {
        top: 50%;
        transform: translate(-80%, -25%);
        right: 0;
        height: 100%;
        position: absolute;
        border-radius: 0 5px 5px 0;
        cursor: pointer;;

        &:hover {
          color: rgb(251, 74, 69);
        }
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    .arrow::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0 20px;
      border-color: #fb6964 transparent transparent transparent;
      transform: translateX(-50%);
      left: 50%;
      margin-top: -2px;
      cursor: pointer;
    }
  }

  .btn-holder {
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
  //  background-color: #72BAC8;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.4);
    z-index: 1000000;
  }

  .rounded-btn {
    position: relative;
    font-size: 45px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 0.5em;
      background-color: #fff;
      line-height: 1em;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
    }

    &:before {
      width: 0.5em;
      height: 2px;
    }
  }

  .geo-info {
    text-align: justify;
    font-size: 12px;
    color: #5D5C5C;
    font-weight: bold;
    top: 10px;
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);

    .fa-clock-o {
      font-size: 25px;
      vertical-align: middle;
      font-weight: normal;
    }
    .time, .location {
      display: inline-block;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
  .weather-visual {
    text-align: center;
  }

  .meteo-info {
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .weather {
    text-align: center;
    padding-top: 110px;

    .descr {
      display: block;
      padding-bottom: 15px;
      text-transform: capitalize;
    }

    .temp {
      font-size: 3.5em;
      font-weight: bold;
      padding: 5px 0;
    }

    .other-inf {
      padding: 25px 0 5px;

    }

    .wind {
      font-size: 0.7em;
    }
  }

}

.clock {

  border-radius: 50%;
  border: 2px solid;
  color: #5D5C5C;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  display: inline-block;

  .minutes-container, .hours-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    background: #5D5C5C;
    height: 40%;
    left: 48.75%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 6%;
  }

  .minutes {
    background: #5D5C5C;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 6%;
  }
}

.clock:before {
  background: #5D5C5C;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.clock:after {
  content: attr(data-time);
  display: inline-block;
  color: #5D5C5C;
  padding-left: 2.5em;
  font-size: 1em;
  font-weight: bold;
  width: 65px;
}

//slider

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2px;
  width: 100%;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
  text-align: center;

  &__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(93, 92, 92, 0.16);
    width: 0.5rem;
    height: 0.5rem;;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0.5rem;
      height: 0.5rem;;
      background: rgba(93, 92, 92, 0.7);
      border-radius: 50%;
      transition: transform 0.3s;
      transform: translate(-50%, -50%) scale(0);
    }

    &.active:before,
    &:hover:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 99999px;

  &.animating {
    transition: transform 0.5s;
    will-change: transform;
  }
}

.slide {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.morning {

  animation: wrap-color_morning 5s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  &.bg-wrap,&.btn-holder {
    animation: wrap-color_morning 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &.circle-day {
    position: relative;
    display: inline-block;
    animation: sky_morning 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &.circle-day::before {
    position: absolute;
    animation: sky-outer-circles_morning 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}

.day {

  animation: wrap-color_day 5s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  &.bg-wrap, &.btn-holder  {
    animation: wrap-color_day 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &.circle-day {
    position: relative;
    display: inline-block;
    animation: sky_day 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &.circle-day::before {
    position: absolute;
    animation: sky-outer-circles_day 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}

.evening {

  animation: wrap-color_evening 5s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  &.bg-wrap, &.btn-holder {
    animation: wrap-color_evening 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &.circle-day {
    position: relative;
    display: inline-block;
    animation: sky_evening 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &.circle-day::before {
    position: absolute;
    animation: sky-outer-circles_evening 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

}

.night {

  animation: wrap-color_night 5s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  &.bg-wrap, &.btn-holder {
    animation: wrap-color_night 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &.circle-day {
    position: relative;
    display: inline-block;
    animation: sky_night 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &.circle-day::before {
    position: absolute;
    animation: sky-outer-circles_night 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

}

//Early Morning (>3 && <7 )
@keyframes wrap-color_morning {
  0% {
    background: #CFFFFC;
  }

  100% {
    background: #72BDCA;

  }
}

@keyframes sky_morning {
  0% {
    background: #EBF9FF;
    border: 45px solid #D8F7FC;
  }

  100% {
    background: #CFECF1;
    border: 45px solid #B6E3E7;
  }
}

@keyframes sky-outer-circles_morning {
  0% {
    background: #C4F5FF;
    border: 45px solid #AEF2FF;
  }

  100% {
    background: #96D6DB;
    border: 45px solid #7AC8D3;
  }

}

//Early Day (>9 && <13 )
@keyframes wrap-color_day {
  0% {
    background: #72BDCA;

  }
  100% {
    background: #E3CFFF;
  }
}

@keyframes sky_day {
  0% {
    background: #CFECF1;
    border: 45px solid #B6E3E7;
  }

  100% {
    background: #FFC9C9;
    border: 45px solid #FCD8EA;
  }
}

@keyframes sky-outer-circles_day {
  0% {
    background: #96D6DB;
    border: 45px solid #7AC8D3;
  }
  100% {

    background: #F4D1F7;
    border: 45px solid #F8DDFF;
  }
}

//Late Evening (>18 && <22 )
@keyframes wrap-color_evening {
  0% {
    background: #E3CFFF;
  }

  100% {
    background: #38383C;;
  }
}

@keyframes sky_evening {
  0% {
    background: #FFC9C9;
    border: 45px solid #FCD8EA;
  }

  100% {
    background: #595561;
    border: 45px solid #554D59;
  }
}

@keyframes sky-outer-circles_evening {
  0% {
    background: #F4D1F7;
    border: 45px solid #F8DDFF;
  }

  100% {
    background: #4D4955;
    border: 45px solid #46424B;
  }
}

//Late Night
@keyframes wrap-color_night {
  0% {
    background: #38383C;;
  }
  100% {
    background: #CFFFFC;
  }

}

@keyframes sky_night {
  0% {
    background: #595561;
    border: 45px solid #554D59;
  }
  100% {
    background: #EBF9FF;
    border: 45px solid #D8F7FC;
  }
}

@keyframes sky-outer-circles_night {
  0% {
    background: #4D4955;
    border: 45px solid #46424B;
  }
  100% {
    background: #C4F5FF;
    border: 45px solid #AEF2FF;
  }
}
