//https://habrahabr.ru/post/188150/

@font-face {
  font-family: 'TitilliumText22L-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('TitilliumText22L-Regular'), url('../fonts/TitilliumText22L003.woff') format('woff');
}

$basic-fonts: Verdana, Geneva, sans-serif;
$special-font: 'TitilliumText22L-Regular';
* {
  box-sizing: border-box;
}

html, body, form, #wrap {
  height: 100%;
  font-family: $basic-fonts;
}

body {
  border-top: 6px solid #464e4e;
  position: relative;
  background: url(../images/bg/bg-shadow.png) no-repeat 50% 6px,
  url(../images/bg/bg.jpg) repeat 0 0;
  margin: 0;
  color: #676767;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $special-font;
  line-height: 1.1em;
  font-weight: normal;
  color: #fff;
  //letter-spacing: 1px;
}

h1 {
  font-size: 28px;
  letter-spacing: 0;
  margin: 0;

}

h3 {
  font-size: 22px;
  margin:  0 0 25px 0;
  padding: 9px 0;
  color: #1cc1cb;
  border-bottom: 1px solid #c1c1c1;
  position: relative;

  &::after {
    content: '';
    width: 20px;
    height: 10px;
    position: absolute;
    background: url(../images/triangle.png) no-repeat;
    bottom: -8px;
    left: 30px;
  }

}

h4 {
  color: #000;
  margin: 15px 0;
  font-size: 20px;
  word-spacing: 1px;
}

h5 {
  color: #000;
  margin: 10px 0;
  font-size: 18px;
}

p {
  font-size: 12px;
  line-height: 20px;
  word-spacing: 1px;
}

a {
  text-decoration: none;
  letter-spacing: 1px;

  // font-family: $special-font;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.line-decoration {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    left: 0;
    background: url("../images/bg/line.png") repeat-x top;
    height: 6px;
    z-index: -1;
  }
}

.tiny-title {
  color: #757575;
  font-size: 10px;
  position: relative;
  margin: 15px 0;
}

.ico-tiny {
  position: relative;
  padding-right: 5px;
  &:before {
    content: '';
    display: inline-block;
    background: url("../images/sp-tiny-icons.png");
    width: 10px;
    height: 10px;
  }
}

.ico-pf {
  &:before {
    background-position: 13px 0;
  }
}

.ico-bl {
  &:before {
    background-position: 24px 0;
  }
}

.ico-ph {
  &:before {
    background-position: 0 0;
  }
}

.ico-em {
  &:before {
    background-position: 48px 0;
  }
}

.ico-lg {
  &:before {
    background-position: 36px 0;
  }
}

.read-more {
  font-size: 12px;
  color: #94989a;
  text-transform: lowercase;
  display: block;
  position: relative;
  padding: 2px 30px;
  margin: 20px 0;

  &:hover {
    color: #6fcbf0;
  }

  &:after {
    content: '';
    position: absolute;
    background: url("../images/btn/read-more.png");
    width: 20px;
    height: 18px;
    top: 0;
    left: 0;

  }

}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.inner-wrap {
  max-width: 1000px;
  margin: 0 auto;
  /*  background-color: #fff;
    border-radius: 5px 5px 0 0;*/

}



#wrap {

  /*top-bar*/
  .top-bar {
    padding: 0 5px;
    min-height: 45px;
    .contact-us, .account {
      width: 50%;
      float: left;
      line-height: 45px;
      a {
        color: #bbc1c1;
        font-size: 12px;
        padding: 0 6px;
      }

    }
    .account {
      text-align: right;
    }
  }

  /***HEADER***/
  #header {
    background: #fff;
    border-radius: 5px;
    .header-top {
      z-index: 1;
      padding: 0 28px;
      margin-bottom: 6px;
      text-align: justify;
      letter-spacing: 1px;
      position: relative;
      min-height: 80px;
      .logo {
        display: inline-block;
        vertical-align: middle;
        background: url(../images/logo.png) no-repeat;
        text-indent: -9999px;
        overflow: hidden;
        width: 30%;
        height: 44px;
        margin-top: 20px;

      }
      /*navigation*/
      #main-nav {
        float: right;
        line-height: 80px;
        ul.navbar {
          & > li {
            padding: 0 17px;
            float: left;
            position: relative;
            a {
              font-size: 14px;
              text-transform: capitalize;
              color: #969696;
              display: block;
            }
            &.active > a, &:hover > a, &:focus > a {
              &:after {
                content: '';
                display: block;
                border-bottom: 5px solid #b0eeef;
              }
            }

            &:last-child {
              padding-right: 0;
            }

          }
        }

        ul.dropdown {
          padding: 15px 0;
          border-radius: 5px;
          position: absolute;
          width: 160px;
          background-color: #fff;
          & > li {
            padding: 11px 20px;
            line-height: 1.1em;
            float: none;
            border-bottom: 1px solid #EFEFEF;
            &.active > a, &:hover > a, &:focus > a {
              color: #b0eeef;
              &:after {
                content: '';
              }
            }
          }

          & > li:last-child {
            border-bottom: none;
          }
        }
      }
      /*end navigation*/

      &::after {
        content: '';
        display: inline-block;
        width: 100%;
      }

    }

    .header-bottom {

      /*slider*/
      .carousel {
        max-width: 1000px;
        position: relative;
        margin: auto;
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
        border-radius: 3px;

        .carousel-inner {
          max-width: 99999px;
        }

        .carousel-indicators {
          display: inline-block;
          position: absolute;
          bottom: 17px;
          right: 30px;
          li {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;

            background-color: #fff;

            &.active {
              border: 3px solid #fff;
              background-color: #b1c1ca;
            }
          }
        }

        .carousel-control {
          position: absolute;
          display: block;
          background: url("../images/arrows.png");
          width: 15px;
          height: 22px;
        }
        .left {
          left: -30px;
          bottom: 80px;
          background-position: 0 0;
        }

        .right {
          right: -30px;
          bottom: 80px;
          background-position: 15px 0;
        }
      }
      /*end slider*/
    }

  }
  /*end header*/

  /*main*/
  #main {

    .top {
      height: 60px;
      width: 100%;
      -webkit-box-shadow: 0px 10px 40px -15px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 40px -15px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 40px -15px rgba(0, 0, 0, 0.75);
    }
    .content {
      width: 100%;
      background-color: #fff;
      margin-top: -115px;

      .main-title {
        text-align: center;
        z-index: 10;
        min-width: 80px;
        margin-top: 50px;
        h1 {
          display: inline-block;
          color: #8a8a8a;
          padding: 35px 55px 35px 0;

          .darker {
            color: #5a5a5a;
          }

          .blue {
            color: #40cbcd;
          }
        }

        .title-btn {
          display: inline-block;
          position: relative;
          text-transform: uppercase;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          padding: 15px 55px 15px 20px;
          border-radius: 6px;
          /*gradient*/
          background: rgba(89, 89, 89, 0);
          background: -moz-linear-gradient(left, rgba(89, 89, 89, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.35) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(89, 89, 89, 0)), color-stop(0%, rgba(71, 71, 71, 0)), color-stop(0%, rgba(102, 102, 102, 0)), color-stop(0%, rgba(44, 44, 44, 0)), color-stop(0%, rgba(102, 102, 102, 0)), color-stop(0%, rgba(76, 76, 76, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(19, 19, 19, 0.35)));
          background: -webkit-linear-gradient(left, rgba(89, 89, 89, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.35) 100%);
          background: -o-linear-gradient(left, rgba(89, 89, 89, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.35) 100%);
          background: -ms-linear-gradient(left, rgba(89, 89, 89, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.35) 100%);
          background: linear-gradient(to right, rgba(89, 89, 89, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.35) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#131313', GradientType=1);
          background-color: #5e6b6b;

          &:after {
            content: '';
            position: absolute;
            background: url("../images/btn/btn-title.png");
            width: 24px;
            height: 25px;
            top: 11px;
            right: 17px;
          }

        }
      }
      .info {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 5px 30px 40px 30px;
        /*gradient*/
        background: rgba(249, 253, 253, 1);
        background: -moz-linear-gradient(top, rgba(249, 253, 253, 1) 0%, rgba(243, 248, 248, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249, 253, 253, 1)), color-stop(100%, rgba(243, 248, 248, 1)));
        background: -webkit-linear-gradient(top, rgba(249, 253, 253, 1) 0%, rgba(243, 248, 248, 1) 100%);
        background: -o-linear-gradient(top, rgba(249, 253, 253, 1) 0%, rgba(243, 248, 248, 1) 100%);
        background: -ms-linear-gradient(top, rgba(249, 253, 253, 1) 0%, rgba(243, 248, 248, 1) 100%);
        background: linear-gradient(to bottom, rgba(249, 253, 253, 1) 0%, rgba(243, 248, 248, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdfd', endColorstr='#f3f8f8', GradientType=0);
        .block {
          max-width: 300px;
          color: #676767;
          h4 {
            padding: 0 30px;
            position: relative;

            .num {
              line-height: 20px;
              left: 0;
              top: 0;
              text-align: center;
              color: #fff;
              font-size: 12px;
              font-weight: bolder;
              position: absolute;
              width: 17px;
              height: 17px;
              border-radius: 10px;
              background-color: #939b9b;
            }
          }
        }
      }

      .block-img {
        width: 220px;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        height: 185px;
        padding: 6px;
      }

      .container {
        padding: 20px;
        .duos-blocks {
          display: flex;
          justify-content: space-between;

          .block {
            max-width: 460px;
            article {
              img {
                float: left;
              }

              .article-body {
                float: left;
                width: 50%;
                padding-left: 20px;

                .time {
                  position: relative;
                  font-size: 10px;
                  color: #676666;
                  padding-left: 20px;
                  &:before {
                    content: '';
                    position: absolute;
                    background: url("../images/sp-tiny-icons.png") 13px;
                    width: 10px;
                    height: 10px;
                    top: 0;
                    left: 0;
                  }
                }
              }

              &:before {
                content: '';
                display: block;
                background: url("../images/sp-tiny-icons.png") top 0;
                width: 10px;
                height: 10px;
              }
            }

            .btn-block {
              padding: 10px 0;
              .btn {
                margin-right: 20px;
                border-radius: 5px;
                border: 0;
                padding: 0 35px 0 15px;
                line-height: 40px;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                display: inline-block;
                position: relative;
                letter-spacing: 0;

                /*gradient*/
                background: rgba(0, 0, 0, 0);
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(89, 89, 89, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(28, 28, 28, 0.1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(71, 71, 71, 0)), color-stop(0%, rgba(44, 44, 44, 0)), color-stop(0%, rgba(89, 89, 89, 0)), color-stop(0%, rgba(102, 102, 102, 0)), color-stop(0%, rgba(19, 19, 19, 0)), color-stop(100%, rgba(28, 28, 28, 0.1)));
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(89, 89, 89, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(28, 28, 28, 0.1) 100%);
                background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(89, 89, 89, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(28, 28, 28, 0.1) 100%);
                background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(89, 89, 89, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(28, 28, 28, 0.1) 100%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(71, 71, 71, 0) 0%, rgba(44, 44, 44, 0) 0%, rgba(89, 89, 89, 0) 0%, rgba(102, 102, 102, 0) 0%, rgba(19, 19, 19, 0) 0%, rgba(28, 28, 28, 0.1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#1c1c1c', GradientType=0);
              }

              .tw {
                background-color: #61dbe9;
                box-shadow: 0 1px 0px 0px rgba(73, 177, 189, 1);
                &:hover {
                  background-color: #68f1ff;

                }
                &:after {
                  content: '';
                  position: absolute;
                  background: url("../images/btn/tw-btn.png");
                  width: 22px;
                  height: 18px;
                  right: 8px;
                  top: 10px;
                }
              }

              .rm {
                background-color: #70cdf2;
                box-shadow: 0px 1px 0px 0px rgba(86, 164, 196, 1);
                &:hover {
                  background-color: #75d9ff;
                }
                &:after {
                  content: '';
                  position: absolute;
                  background: url("../images/btn/plus-btn.png");
                  width: 18px;
                  height: 18px;
                  right: 8px;
                  top: 10px;
                }
              }

            }
          }
        }
        .projects {
          z-index: 10;
          margin-bottom: 30px;
          .projects-holder {
            display: flex;
            justify-content: space-between;

            .img {
              position: relative;
              .overlay {
                display: block;
                position: absolute;
                z-index: 20;
                background: rgba(255, 255, 255, 0.8);
                overflow: hidden;
                transition: all 0.5s;

                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 0;
              }
              

              .expand {
                display: block;
                position: absolute;
                background: url("../images/expand.png");
                z-index: 100;
                width: 39px;
                height: 38px;
                text-align: center;
                line-height: 50px;
                font-size: 30px;

                left: 0;
                right: 0;
                bottom: 50%;
                margin: 0 auto -30px auto;
              }

              &:hover {
                .overlay {
                  height: 100%;
                }
              }
            }

          }

        }
      }

      blockquote {
        margin: 10px 0 30px 0;
        position: relative;
        min-height: 90px;
        text-align: center;
        font-style: italic;
        p {
          color: #8f8f8f;
          font-size: 18px;
        }

        span {
          color: #1cc1cb;
        }
        cite {
          font-family: "Times New Roman", Times, serif;
          font-size: 16px;
        }

        &:before {
          content: '';
          position: absolute;
          background: url("../images/bq.png");
          width: 21px;
          height: 14px;
          top: -14px;
          left: 0;
        }
      }
    }
  }
  /*end main*/

  /*******FOOTER********/
  #footer {
    font-size: 12px;
    color: #cbcbcb;
    h3 {
      color: #fff;
      border: none;
      &:after {
        content: none;

      }
    }
    a {
      color: #cbcbcb;
    }
    .footer-top > div {
      float: left;
      width: 24.3%;
      li {
        padding: 5px 30px;
        position: relative;
      }
    }

    .footer-top {
      .socials {
        .social-icon {
          width: 23px;
          height: 23px;
          background: url(../images/sp-socials.png) no-repeat left top;
          position: absolute;
          left: 0;
          top: 0;
        }
        .ico-tw {
          background-position: 0 top;
          &:hover {
            background-position: -113px top;
          }
        }
        .ico-fb {
          background-position: -23px top;
          &:hover {
            background-position: -137px top;
          }
        }
        .ico-tl {
          background-position: -46px top;
          &:hover {
            background-position: -161px top;
          }
        }
        .ico-vm {
          background-position: -69px top;
          &:hover {
            background-position: -184px top;
          }

        }
        .ico-rss {
          background-position: -91px top;
          &:hover {
            background-position: -206px top;
          }

        }
      }

      .categories {
        ul {
          li {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              display: block;
              background: url("../images/span.png");
              width: 4px;
              height: 5px;
              top: 8px;
              left: -10px;

              &:hover:before {
                left: 4px;
              }
            }

          }
        }
      }

      .tweets {
        .post {
          padding-bottom: 20px;
          a {
            line-height: 20px;
            & > span {
              color: #66d0fe;
            }
          }
          time {
            font-size: 10px;
            color: #8d8d8d;
          }
        }
      }
    }

    .footer-bottom {
      min-height: 38px;
      position: relative;
      .to-top-btn {
        position: absolute;
        bottom: 0;
        left: 47%;
        background: url("../images/btn/totop-btn.png");
        width: 52px;
        height: 44px;

      }
      p {
        font-size: 11px;
        line-height: 1.1em;
      }

      &:before {
        content: '';
        display: block;
        background: url("../images/bg/bg-line-footer.png");
        height: 2px;
      }
    }

  }

}