/*button hover sliding effect*/
@mixin btn_sliding_effect($fill-col,$bd-col){
  transition: all ease 0.8s;
  &:hover{
    box-shadow: inset 0 100px 0 0 $fill-col;
    border-color: $bd-col;
  }
}



.nav-unfold-effect:hover li {
  transform: perspective(350px) rotateX(0deg);
  transition:0.2s linear 0s;
}
