@import "base/normalize";
@import "base/variables";
@import "base/basic";
@import "base/animation";

// bower:scss
// endbower

/***HEADER***/
#header {

  background: $bg1;
  padding-bottom: 80px;

  .header-top {

    text-align: justify;
    padding: 55px 0;
    color: #fff;

    .logo, #main-nav {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }

    .logo {
      background: url(../images/logo.png) no-repeat;
      text-indent: -9999px;
      overflow: hidden;
      width: 118px;
      height: 37px;
      margin-left: 40px
    }

    input[type='checkbox'] {
      position: absolute;
      opacity: 0;
      width: 35px;;
      height: 35px;
      padding: 0;
      margin: 0;
      right: 20px;
      cursor: pointer;
    }

    .nav-btn {
      display: none;
      position: relative;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.2);
      width: 35px;
      float: right;

      .line {
        content: '';
        display: block;
        margin: 6px 2px;
        border: 1px solid #BDD1DF;
      }
    }
    #main-nav {
      a {
        color: #fff;

        &:hover, &:focus, &:active, &.active {
          background: #643a79;
          transition: .2s;
        }
      }
    }

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }

  }

  .hero-unit {
    text-align: center;
    font-family: $extra-font-bold;
    color: #fff;
    padding: 60px 0;
    width: 80%;
    margin: 0 auto;
    h1 {
      padding-bottom: 55px;
    }
    .btn {
      background: #eb7d4b;
      border-color: #c86a40;

      @include btn_sliding_effect(#c86a40, #eb7d4b)
    }

  }

}

/***MAIN***/
#main {

  .services {
    background-color: $bg2;
    color: #fff;
    img {
      height: 135px;
      width: auto;
    }
  }

  .team {
    background-color: $bg3;
    color: #3c4761;
    small {
      font-family: $extra-font-regular;
      color: #30bae7;
      font-size: 16px;
    }

    .name-wrap {
      padding-top: 25px;
    }

    .text-wrap {
      margin: 20px 0;
    }

    .socials {
      padding: 10px 0;
    }

    .visual {
      border-radius: 100%;
    }

  }

  .about {
    background-color: $bg4;
    color: #3c4761;
    h3 {
      font-family: $extra-font-bold;
    }

    //SVG Circles
    .progress {
      display: block;
      position: relative;
      margin-bottom: 10px;

      .progress-circle {
        transform: rotate(-90deg);

        .progress-circle-back, .progress-circle-prog {
          transition: stroke-dashoffset 1s linear;
          stroke: #dfe8ed;
          stroke-width: 14px;
        }

        .progress-circle-prog {
          fill: none;
          stroke-dasharray: 0 999;
          stroke-dashoffset: 0px;
          transition: stroke-dasharray 0.7s linear 0s;
        }

        .progress-circle-back {
          fill: none;
          stroke: #D2D2D2;
        }
      }

      &:after {
        position: absolute;
        left: 10px;
        top: 0;
        width: 100%;
        content: attr(data-pct) "%";
        color: #3c4761;
        border-radius: 100%;
        line-height: 170px;
        font-size: 3em;
        font-family: "titillium_weblight";
      }
    }

    .block .item:nth-child(1) {
      .progress-circle {
        .progress-circle-prog {
          stroke: #30bae7;
        }
      }
    }
    .block .item:nth-child(2) {
      .progress-circle {
        .progress-circle-prog {
          stroke: #d74680;
        }
      }
    }
    .block .item:nth-child(3) {
      .progress-circle {
        .progress-circle-prog {
          stroke: #15c7a8;
        }
      }
    }
    .block .item:nth-child(4) {
      .progress-circle {
        .progress-circle-prog {
          stroke: #eb7d4b;
        }
      }
    }

  }

  .work {
    background-color: $bg5;
    color: #393939;

    .tabs-holder {
      padding-bottom: 45px;
    }
    .tabs-link {
      margin-top: -10px;
      a {
        color: #393939;
        background-color: rgba(0, 0, 0, .1);
        padding: 8px 23px;
        margin-right: 8px;
        &:hover {
          background: #fff;
          transition: 0.5s;
        }
      }
    }
    .btn {
      background: #17c2a4;
      border-color: #14a58c;
      padding: 20px 60px;
      @include btn_sliding_effect(#14a58c, #17c2a4)
    }
    .tabs {
      margin-top: 45px;

    }
    .block {
      flex-wrap: wrap;
      .item {
        img {
          width: 100%;
        }
        flex-basis: 48%;
        padding: 30px 0;
      }
    }
  }

  .blog {
    background-color: $bg6;
    color: #fff;
    .block {
      flex-wrap: wrap;
    }
    .item {
      flex-basis: 50%;
      padding: 20px 0 40px;
    }
    .photo {
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
    }

    .entry-text {
      width: 70%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      padding-bottom: 30px;

      .position {
        color: #ffdd99;
        font-size: 18px;
        font-family: $extra-font-regular;
      }
    }

  }

  .contact {
    background-color: $bg7;
    color: #fff;
    .feedback-form {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      //textarea
      & :nth-of-type(3) {
        display: block;
        width: 97%;
        margin: 0 auto;
      }
      & > div {
        position: relative;
        display: inline-block;
        width: 47%;
        margin: 1%;
        padding-bottom: 10px;

        & label {
          position: absolute;
          top: 25px;
          left: 35px;
        }
      }

      label:after {
        content: '*';
        padding-left: 2px;
        display: inline-block;
        color: #FF1493;
      }
      input {
        width: 100%;
        margin: 5px;
        height: 55px;
        background-color: #273a71;

      }
      textarea {
        margin: 5px;
        width: 100%;
        resize: vertical;
        min-height: 200px;
      }

      input, textarea {
        outline: none;
        &:focus + label, &:valid + label {
          transition: .4s;
          font-size: 70%;
          z-index: 2;
          top: 0px;
          margin: -10px 0;
          opacity: 0.7;
        }
      }
      .btn {
        transform: translateY(50%);
        background-color: #30bae7;
        border-color: #299ec5;
        @include btn_sliding_effect(#299ec5, #30bae7)
      }
    }
  }
}

/***FOOTER***/
#footer {
  text-align: center;
  background-color: $bg8;
  a {
    font: normal normal 24px/113px $extra-font-semibold;
    color: #fff;
    margin: 0 30px;

    &:hover, .active, &:focus {
      color: #30bae7;
      transition: 0.5s;
    }
  }

  .socials {
    display: none;
  }
}

/**Media queries**/
/* Medium devices */
@media screen and (max-width: 991px) {

  #main {
    .services .block, .team .block, .work .block, .about .block, .blog .block {
      flex-wrap: wrap;
      .item {
        flex-basis: 50%;
        padding-bottom: 20px;
      }
    }

    .work {
      .block .item {
        img {
          width: 100%;
        }
      }
    }

  }

  /* Small devices */
  @media screen and (max-width: 767px) {

    /**basic style**/
    h1 {
      font-size: 23px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 18px;
    }
    blockquote {
      font-size: 14px;
    }
    input, textarea {
      margin: 5px 0;
      padding: 20px;
    }
    .btn {
      width: 100%;
      padding: 16px 0;
    }

    .title-wrap {
      padding: 25px 10%;
      p {
        font-size: 15px;
      }
    }
    .services, .team, .about, .work, .blog, .contact {
      padding: 20px 0 50px;
    }

    .block .item .text-wrap {
      margin-top: 25px;
      padding: 0 30px;
    }

    .container {
      height: 100%;
    }

    #header {
      padding: 0;
      height: 100vh;

      .header-top {
        padding: 10px 0;

        .logo {
          margin: 0;
        }

        .nav-btn {
          display: inline-block;
        }

        input[type="checkbox"]:checked {
          & ~ #main-nav a {
            transform: perspective(350px) rotateX(0deg);
            @for $i from 1 through 5 {
              &:nth-child(#{$i}) {
                transition: all .2s #{$i*.2}s ease-in;
              }
            }
          }
        }

        #main-nav {
          list-style: none;
          padding: 0;
          width: 100%;
          height: 0;

          a {
            border-radius: 0;
            display: block;
            height: 40px;
            text-align: center;
            margin: 0;
            transform-origin: 50% 0%;
            transform: perspective(350px) rotateX(-90deg);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
            background: rgba(214, 135, 180, 0.8);
            &:last-child {
              border-radius: 0 0 5px 5px;
            }

          }
        }
      }

      .hero-unit {
        margin: 0 auto;
        width: 100%;
        padding: 0;
        position: relative;
        top: 50%;
        $top: calc(-50% - 50px);
        transform: translateY($top);

        .btn {
          margin-top: 50px;
        }
      }

    }
    #main {
      .services .block, .team .block, .work .block, .about .block, .blog .block {
        flex-wrap: wrap;
        flex-direction: row;
        .item {
          flex-basis: 100%;
          padding-bottom: 20px;
        }
      }
      .work {
        .tabs-holder {
          padding-bottom: 20px;

        }

        .tabs-link a {
          padding: 6px 10px;
          margin-right: 0;
        }
      }
      .blog {

        .item {
          padding: 10px 0;
        }
        .photo {
          margin: 0;
        }
        .entry-text {
          padding: 0 5px;
          .position {
            font-size: 11px;
          }
        }
      }
      .contact {
        .feedback-form {
          width: 100%;
          & > div, & > div:last-child {
            width: 100%;
            margin: 0;

            input, textarea {
              width: 100%;
              margin: 5px  0;
            }
          }

          & :nth-of-type(3) {
            width: 100%;
           }
        }
      }


}

#footer {
  a {
    margin: 0;
  }
  .socials-links {
    display: none;
  }
  .socials {
    display: block;
    a.icon:hover {
      &:before {
        color: #00b0e2;
        transition: 0.5s;
      }
    }
  }

}

}
}

/* Large devices */
//@media (min-width: 1200px) { }


