/***BASIC VARIABLES***/

$extra-font-regular: 'titillium_webregular';
$extra-font-semibold: 'titillium_websemibold';
$extra-font-bold: 'titillium_webbold';
$extra-font-italic: 'titillium_webitalic';
$extra-font-light: 'titillium_weblight';

/*backgrounds*/

$bg1: #87509c;
$bg2: #17c2a4;
$bg3: #e7f1f8;
$bg4: #fff;
$bg5: #ffdd99;
$bg6: #d74680;
$bg7: #3c5499;
$bg8: #344b8e;
